/****** Container Styles ******/
body {
    margin: 0;
    padding: 0;
    color: lightgray;
}

header {
    position: fixed;
}

main {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 40px;
    background: rgb(2, 2, 100);
}

article {
    width: auto;
    padding: 0 20px 40px 45%;
}

.galleryCont {
    display: flex;
    padding: 10px;
    max-width: 80%;
    flex-direction: column;
    margin: auto;
}
/****** End Container Styles ******/

/****** Navigation Styles ******/
nav {
    width: 100%;
    height: 100px;
    top: 0;
    position: fixed;
    z-index: 1;
    background: rgb(40, 40, 40);
    box-shadow: 0 1px 20px black ;
}

#navMenu {
    padding: 10px 0;
    margin: 0;
    clear:both;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    background: rgb(40, 40, 40);
    transition: max-height .6s ease;
}

.menuItem {
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.menuItem:hover {
    background: lightgray;
    color: black;
}

#navCheck {
    display: none;
}

#navBtn {
    float: right;
    margin-top: 20px;
    padding: 15px 15px;
    cursor: pointer;
}

.menuBar, .menuBar:before, .menuBar:after {
    position: absolute;
    display: block;
    content: "";
    background: lightgray;
    height: 5px;
    width: 40px;
    border-radius: 8px;
    transition: all .6s ease;
}

.menuBar {
    position: relative;
    transition: background .6s ease;
}

.menuBar:before {
    top: -14px;
}

.menuBar:after {
    top: 14px;
}

#navCheck:checked ~ #navMenu {
    max-height: 200px;
}

#navCheck:checked ~ #navBtn .menuBar:before {
    transform: rotate(45deg);
    top: 0;
}

#navCheck:checked ~ #navBtn .menuBar:after {
    transform: rotate(-45deg);
    top: 0;
}

#navCheck:checked ~ #navBtn .menuBar {
    background: transparent;
}



/****** End Navigation Styles ******/

/****** Image Styles *******/

#profileImg {
    margin-top: 30px;
    height: 20em;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
}

#logo {
    z-index: 2;
    height: 90px;
    position: fixed;
    top: 10px;
    left: 10px;
}

.galleryImg {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    padding-bottom: 30px;
}

/****** End Image Styles ******/

/****** Font Styles ******/
h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-left: -100px;
}

p {
    font-size: 20px;
}

li {
    line-height: 1.6;
}
/****** End Font Styles ******/

/****** Form Styles ******/
form {
    display: flex;
    flex-direction: column;
    margin: 20px auto 300px auto;
    background: lightgray;
    max-width: 80%;
    padding: 20px;
    border-radius: 10px;
    color: black;
    
}

input {
    max-width: 150px;
    padding: 5px;
    margin: auto;
}

label {
    margin: 5px;
}

form h2 {
    margin: 30px auto;
}

input[type = "textarea"] {
    min-width: 200px;
    overflow: scroll;
}

input[type = "submit"] {
    background: green;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 5px black ;
}

/******* Media Queries ******/

/****** Not Mobile ******/
@media screen and (min-width: 501px) {
    #navBtn {
        display: none;
    }

    .menuItem {
        font-size: 24px;
        padding: 15px;
    }

    #navMenu {
        display: flex;
        flex-direction: row;
        margin-right: 10px;
        align-items: flex-end;
        justify-content: flex-end;
        max-height: none;
        height: auto;
    }
    article {
        padding: 0 10px 40px 40%;
        width: 60%;
    }

    main {
        display: block;
    }

    h2 {
        margin-left: -20px;
    }

    .galleryCont {
        max-width: none;
        padding: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .galleryImg {
        padding: 10px;
    }

    form {
        max-width: 50%;
    }

    label {
        margin-left: 20%;
    }
}

/****** Tablet ******/
@media screen and (min-width: 501px) and (max-width: 800px) {
    #profileImg {
        height: 30em;
    }
}

/****** Desktop ******/
@media screen and (min-width: 801px) {
    #navMenu {
        justify-content: center;
    }

    #profileImg {
        height: 30em;
    }

    main {
        padding-top: 150px;
    }

    p {
        line-height: 2;
    }

    article {
        padding-top: 40px;
        width: 50%;
    }

    label {
        margin-left: 30%;
    }
}

/****** Large Laptops ******/
@media screen and (min-width: 1100px) {
    
    article {
        padding-bottom: 300px;
    }
}

/****** End Media Queries ******/